fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
authlib
httpx
python-dotenv
catboost
email-validator
starlette
bson
requests
numpy
